<div>
	<div class="display-3 mb-3">Click and Match</div>
	<div class="text-end">
		<div class="mb-5 blockquote-footer">
			a game from <a class="text-decoration-none text-info-emphasis" href="https://aneejian.com" target="_blank">aneejian.com</a> made with <span class="text-primary-emphasis">Blazor</span>.&nbsp;&nbsp;
		</div>
	</div>
</div>