<div @attributes=InputAttributes>
	<div class="display-3 mb-2">Click & Match</div>
	<div class="text-center">
		<div>
			a game from <a class="text-decoration-none text-primary-emphasis" href="https://aneejian.com" target="_blank">aneejian.com</a>
			<div class="blockquote-footer mt-1">
				made with <span class="text-info-emphasis">Blazor</span>
			</div>
		</div>
	</div>
</div>

@code{
	[Parameter] public bool ShowMadeWithBlazor { get; set; } = true;
	[Parameter] public bool ShowLinkToAneejian { get; set; } = true;

	[Parameter(CaptureUnmatchedValues = true)]
	public Dictionary<string, object>? InputAttributes { get; set; }

}