<div style="max-width: 60ch">
	<p>All game information including your profiles are saved <span class="text-info-emphasis">locally to this browser only.</span> Use the same browser to keep your profiles and game history.</p>
</div>