.multiplier-splash {
    position: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.splash-background {
    width: 12.5rem;
    height: 6.25rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.313rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    animation: fade-in-out 1s ease-in-out forwards;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}

.multiplier-text {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    animation: bounce-up 0.5s ease-in-out;
}

@keyframes bounce-up {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}