

<div class="multiplier-splash text-center user-select-none" style="@elementStyle">
	<div class="splash-background text-center">
		<div class="multiplier-text">@MultiplierText</div>
	</div>
</div>


@code {

	[Parameter] public int Multiplier { get; set; } = 1;
	private string MultiplierText { get; set; } = "1x!";
	private string elementStyle { get; set; } = "display: none;";


	protected override async Task OnParametersSetAsync()
	{
		elementStyle = "display: none;";
		await base.OnParametersSetAsync();
		if (Multiplier > 1)
		{
			await TriggerSplash(Multiplier);
		}
	}


	private async Task ShowSplash(string multiplierText)
	{
		MultiplierText = multiplierText;
		elementStyle = "display: flex;";
		await Task.Delay(1500);
		elementStyle = "display: none;";
	}

	// Call this method when a multiplier is earned
	private async Task TriggerSplash(int multiplier, string suffix = "x!")
	{
		await ShowSplash($"{multiplier}{suffix}");
	}

}
