@inject HttpClient httpClient

@if (themes is not null)
{
	<div>
		<div class="row">

			<input type="number" max="@selectedTheme!.ItemCount" class="form-control mb-2 col-4" @bind="tileCount" />
			<select class="form-select" aria-label="Default select example" @onchange="@HandleThemeChange">
				@foreach (var theme in themes)
				{
					<option value="@theme.ThemeId">@theme.ThemeName</option>
				}
			</select>
			<button class="btn btn-primary" @onclick="HandleStartGame">Start Game</button>
		</div>
	</div>
}

@code {
	private List<ThemeData>? themes { get; set; }
	private string? selectedThemeId { get; set; }
	private int tileCount { get; set; } = 16;
	private ThemeData? selectedTheme { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var fetchedThemes = await httpClient.GetFromJsonAsync<IEnumerable<ThemeData>>("https://aneejian.com/memory-game-resources/theme_info.json");

		themes = fetchedThemes!.ToList();

		selectedTheme = fetchedThemes?.FirstOrDefault();

		selectedThemeId = selectedTheme?.ThemeId;

	}

	private void HandleStartGame()
	{
		var gameSettings = new GameSettings(tileCount, selectedTheme!);
		Console.WriteLine(selectedTheme!.ItemCount);
		Console.WriteLine(gameSettings.Items.Count());
	}

	private void HandleThemeChange(ChangeEventArgs e)
	{
		selectedThemeId = e.Value?.ToString();

		selectedTheme = themes?.FirstOrDefault(x => x.ThemeId == selectedThemeId);
	}

}
