.flip-card {
    perspective: 1000px;
    margin: 2px;
    cursor: pointer;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.flip-card .flip-card-inner-shown {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
}

.flip-card-back {
    background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
    backdrop-filter: blur(10rem);
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

    .flip-card-back *,
    .flip-card-front * {
        padding: 0;
        margin: 0;
        max-width: 100%;
        max-height: 100%;
        color: #fff;
    }

    .flip-card-back img {
        width: auto;
        height: 70%;
    }

.flip-card-matched {
    visibility: hidden;
}

.flip-counter {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    font-size: 0.5rem;
    display: none;
}
