@page "/"
@inject IThemeService themeService

<PageTitle>Click and Match</PageTitle>

<div class="container">
	<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
		<h1>Aneejian Click and Match</h1>
		<p>Click on the cards to match them.</p>

		<_Game />

	</div>
</div>

@code {

}