@using Aneejian.Games.ClickMatch.Client.Components.UserProfile
@inject NavigationManager navigationManager

@attribute [Route(AppStrings.Pages.Login)]
@attribute [Route(AppStrings.Pages.LoginWithRedirect)]


<_AccessBased>
	<Authorized>
		<_SubHeading>
			Please <a class="text-decoration-none" href="" @onclick=@NavigateToLogoutPage @onclick:preventDefault>logout</a> to continue.
		</_SubHeading>
	</Authorized>
	<UnAuthorized>
		<_SubHeading>Login to your profile</_SubHeading>
		<div class="d-flex flex-column w-100 justify-content-center align-items-center">
			<div class="mb-5 w-100">
				<_LoginForm OnLoginSuccess="LoginSuccess" />
			</div>
			<div class="mb-4 text-lg-start">
				<button class="btn btn-link text-decoration-none text-info fs-5 icon-link icon-link-hover fw-light" @onclick=@AddNewProfile>Create a new profile<span class="bi pb-4"><span class="bi-arrow-right"></span></span></button>
			</div>
		</div>
	</UnAuthorized>
</_AccessBased>



@code {

	[Parameter]
	public string? RedirectUri { get; set; }

	private void AddNewProfile()
	{
		navigationManager.NavigateTo(AppStrings.Pages.Register);
	}

	private void NavigateToLogoutPage()
	{
		navigationManager.NavigateTo(AppStrings.Pages.Logout + "/" + AppStrings.Pages.Login);		
	}

	private void LoginSuccess()
	{
		navigationManager.NavigateTo(RedirectUri ?? AppStrings.Pages.Home);
	}
}
