@attribute [Route(AppStrings.Pages.Stats)]

<_AccessBased>
	<Authorized>
		<div class="mb-4">
			<a href="" class="btn btn-success">Play another round</a>
		</div>
		<_SubHeading>Your game stats.</_SubHeading>
		<_UserStats />
	</Authorized>
	<UnAuthorized>
		<_SubHeading>
			<_LoginOrLogoutMessage Message="view your stats" TargetPage=@AppStrings.Pages.Stats/>
		</_SubHeading>
	</UnAuthorized>
</_AccessBased>
