@inject NavigationManager navigationManager
@attribute [Route(AppStrings.Pages.Stats)]


<_AccessBased>
	<Authorized>
		<div class="mb-4">
			<a href="" class="btn btn-success">Play another round</a>
		</div>
		<_SubHeading>Your game stats.</_SubHeading>
		<_UserStats />
	</Authorized>
	<UnAuthorized>
		<_SubHeading>
			Please <a class="text-decoration-none" href="" @onclick=@NavigateToLoginPage @onclick:preventDefault>login</a> to view your stats.
		</_SubHeading>
	</UnAuthorized>
</_AccessBased>



@code {

	private void NavigateToLoginPage()
	{
		navigationManager.NavigateTo(AppStrings.Pages.Login + "/" + AppStrings.Pages.Stats);
	}

}
