@inject NavigationManager navigationManager
@attribute [Route(AppStrings.Pages.Stats)]

<_AccessBased>
	<Authorized>
		<div class="mb-4">
			<a href="" class="btn btn-success">Play another round</a>
		</div>
		<div class="fs-3 fw-light mb-4">
			Your game stats.
		</div>
		<_UserStats />
	</Authorized>
	<UnAuthorized>
		<div>
			Please <button class="btn btn-link m-0 p-0 pb-1 text-decoration-none border-0" @onclick=@NavigateToLoginPage>login</button> to view your stats.
		</div>
	</UnAuthorized>
</_AccessBased>

@code {

	private void NavigateToLoginPage()
	{
		navigationManager.NavigateTo(AppStrings.Pages.Login + "/" + AppStrings.Pages.Stats);
	}

}
